
.mat-toolbar {
    justify-content: space-around;
}
a {
            text-decoration: none;
            color: rgb(58, 32, 155);
            font-size: 1.5em;
        }

h1 {
    font-family: 'Bangers';
    font-size: 2.5em;
    
}

@media only screen and (max-width: 600px) {

    a{
        font-size: 1em;
    }
    h1 {
        font-size: 1.5em;
    }
  }