


  <img
    alt="LogoMoto"
    src="../images/LogoMoto.png" />
    
    <div class="congtainer"><h1>{{ title }}</h1>
      <h3>Hola Motero</h3>
    </div>

 <nav class="navbar navbar-light bg-light">
   <a class="navbar-brand" href="#">Home</a>
   <a class="navbar-brand" href="#">recambios</a>
   <a class="navbar-brand" href="#">servicios</a>
   <a class="navbar-brand" href="#">Quienes Somos</a>
 </nav>

<h3 class="seach">QUE ESTAS BUSCANDO</h3>
<h3>Busca un vehículo detallado</h3>

<select>Tipo
  <option>Motocicleta</option>
  <option>Coche</option>
  <option>camión</option>
  <option>motores fuera de borda</option>
  <option>Motores estacionarios</option>
</select>
     

<router-outlet></router-outlet>